* {
    clear: both;
    margin: 0;
}

body {
    padding-left: 2%;
    padding-right: 2%;
}

/*Fonts*/
h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

/*Colors*/
body {
    color: #262626;
}

nav a {
    color: #252E8A;
}


/*Nav Menu*/
.logo img {
    height: 120px;
}

.headerinner {
    margin: 0;
    max-width: 100%;
}

nav {
    height: 120px;
    width: 100%;
    text-align: right;
}

.menu-item {
    height: 120px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
    width: 15%;
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background-color: #f2f2f2;
}

nav a {
    text-decoration: none;
    font-weight: 400;
}

nav i {
    display: block;
    width: 100%;
}

.menu-item:hover,
.menu-item.active {
    font-weight: 400;
    color: #f2f2f2;
    background: #252E8A;
}

/* Main */
.classesheader {
    margin-top: 10px;
    margin-bottom: 10px;
}

.maininner {
    clear: both;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
}

/* Hero */
.hero {
    background: url("../images/swimming-lessons-7339440.jpg") center no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

/* Hero Animation */
.hero {
    animation: herotransform 5s linear;
    animation-fill-mode: forwards;

}


@keyframes herotransform {
    0% {
        background-size: 105%;

    }

    100% {
        background-size: 100%;
    }
}

/* Hero Overlay */
.overlayhero {
    position: absolute;
    bottom: 40%;
    left: 25%;
    margin: auto;
    width: 45%;
}

.overlayhero h1 {
    padding: 2%;
    background-color: #0000007a;
    width: 100%;
    text-align: center;
    color: #f2f2f2;
    text-transform: uppercase;
    margin: 0;
}

.overlayhero h2 {
    padding: 2%;
    background-color: #0000007a;
    width: 100%;
    text-align: center;
    color: #f2f2f2;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
}

/* Footer */
footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #252E8A;
}

.footerinner {
    max-width: 100%;
}

.socials {
    text-align: right;
    margin: 0;
    padding: 0;
}

.socialheader,
.copyright {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.socialheader,
.socials i {
    display: inline-block;
}

.socials i {
    font-size: 26px;
    margin-left: 10px;
    color: #252E8A;
    transition: all 0.5s ease-in-out;
}

.socials i:hover {
    color: #4AA5D3;
}

/* Main Classes */


.classleftcard {
    margin-right: 10px;
    width: calc(33.33333333% - 7.5px);
    position: relative;
}

.classcentercard {
    width: calc(33.33333333% - 5px);
    position: relative;
}

.classrightcard {
    margin-left: 10px;
    width: calc(33.33333333% - 7.5px);
    position: relative;
}

.class-image {
    max-width: 600px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.contact-btn {
    width: 100%;
    color: #252E8A;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-radius: 0;
    border: 0;
    margin-bottom: 8px
}

.contact-btn:hover {
    background-color: #252E8A;
    color: #fff;
}

.maininner h1 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 6px;
}

.maininner h2 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 19px;
}

.maininner h3 {
    text-align: center;
    font-weight: 400;
    font-size: 19px;
}

.classesinner p {
    text-align: justify;
    padding: 10px;
}

/* Sub Page Headers */
.page-headers {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* TIMETABLE */
/* Table */
td.adult {
    background-color: #ffc0cb73;
}

td.schools {
    background-color: #ffa50080;
}

td.closed {
    background-color: black;
    color: #ffffff !important;
}

td.child {
    background-color: #00800042;
}

/* Mobile Table Hide */
.mobile-table-view {
    display: none;
}

/* ABOUT US */
.content p {
    text-align: justify;
}

.profile-pic {
    object-position: top;
}

.personal-socials {
    margin: 0;
    text-align: center;
    width: 100%;
}

/* Mobile */
@media only screen and (max-width: 768px) {

    /*Nav*/
    body {
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo {
        text-align: center;
        height: 80px;
    }

    .logo img {
        height: 80px;
    }

    .menu {
        margin-bottom: 1px
    }

    .menu-item {
        font-size: 15.5px;
        display: block;
        width: 100%;
        height: 25px;
        padding: 0;
        margin-left: 0px;
    }

    .menu-item i {
        display: inline;
    }

    /* Hero */
    .hero {
        height: 40vh;
    }

    /* Hero Animation Disable */
    .hero {
        animation: none
    }

    /* Hero Overlay */
    .overlayhero {
        position: absolute;
        top: 1%;
        left: 5%;
        margin: auto;
        width: 90%;
    }

    .overlayhero h1 {
        padding: 1%;
        background-color: #0000007a;
        width: 100%;
        text-align: center;
        color: #f2f2f2;
        text-transform: uppercase;
        margin: 0;
        font-size: 25px;
    }

    .overlayhero h2 {
        padding: 1%;
        background-color: #0000007a;
        width: 100%;
        text-align: center;
        color: #f2f2f2;
        text-transform: uppercase;
        margin: 0;
        font-size: 14px;
    }

    /* Main Classes */
    .classleftcard {
        margin-right: 0;
        width: 100%
    }

    .classcentercard {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    .classrightcard {
        margin-left: 0;
        width: 100%;
    }

    /*Footer*/
    .copyright,
    .socials {
        text-align: center;
    }

    /* TIMETABLE */
    /* Desktop Table Hide */
    .desktop-table-view {
        display: none;
    }

    /* Desktop Table Hide */
    .mobile-table-view {
        display: table;
    }

    /* ABOUT US */
    .content {
        margin: 5px;
    }

    .profile-pic {
        padding-top: 15px;
        border-top: 1px solid black;
        margin-bottom: 15px;
    }
}